<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://js.stripe.com/v3/"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Pay</title>
    <link rel="stylesheet" href="global.css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
</head>
<body>

<!-- placeholder for Elements -->
    <input id="cardholder-name" type="text" required>
<form id="setup-form">
    <input hidden id="secret" th:value="${client_secret}">
    <div id="card-element"><!--Stripe.js injects the Card Element--></div>
    <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay</span>
    </button>
    <p id="card-error" role="alert"></p>
</form>
<script>
    var stripe = Stripe('pk_test_51ID7IEDcTnMJlyZx39Zsw3MQB40CHPi2PNlxyKuK20S0WHoTb33VHRjeQGQFmqIiIPqlkfm6LLX8bntx8CyL0RCf00Dr6ilc7M');
    // Disable the button until we have Stripe set up on the page
    document.querySelector("button").disabled = true;

    var elements = stripe.elements();
    var cardElement = elements.create('card');
    cardElement.mount('#card-element');
    cardElement.on("change", function (event) {
        // Disable the Pay button if there are no card details in the Element
        document.querySelector("button").disabled = event.empty;
        document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
    });

    var cardholderName = document.getElementById('cardholder-name');
    var setupForm = document.getElementById('setup-form');
    var clientSecret = document.getElementById("secret").value;
    console.log(clientSecret);

    setupForm.addEventListener('submit', function(ev) {
        ev.preventDefault();
        console.log("vào rồi")
        console.log(cardholderName)
        console.log(cardholderName.value)
        stripe.confirmCardSetup(
            clientSecret,
            {
                payment_method: {
                    card: cardElement,
                    billing_details: {
                        name: cardholderName.value,
                    },
                },
            }
        ).then(function(result) {
            console.log("vào tiếp")
            if (result.error) {
                // Display error.message in your UI.
                loading(false);
                var errorMsg = document.querySelector("#card-error");
                errorMsg.textContent = errorMsgText;
                setTimeout(function() {
                    errorMsg.textContent = "";
                }, 4000);
                showError(result.error.message);
            } else {
                // The setup has succeeded. Display a success message.
                window.location.href = "/success"
            }
        });
        var loading = function(isLoading) {
            if (isLoading) {
                // Disable the button and show a spinner
                document.querySelector("button").disabled = true;
                document.querySelector("#spinner").classList.remove("hidden");
                document.querySelector("#button-text").classList.add("hidden");
            } else {
                document.querySelector("button").disabled = false;
                document.querySelector("#spinner").classList.add("hidden");
                document.querySelector("#button-text").classList.remove("hidden");
            }
        };
        var showError = function(errorMsgText) {
            loading(false);
            var errorMsg = document.querySelector("#card-error");
            errorMsg.textContent = errorMsgText;
            setTimeout(function() {
                errorMsg.textContent = "";
            }, 4000);
        };
    });
</script>
</body>
</html>